<div class="header">
    <nav class="header_top">
        <div class="header_menu">
            <div class="header_menu_icon">
                <img src="/assets/images/food.jpg" id="logo-img"/>
            </div>
            
           <form class="form-inline my-2 my-lg-0">
            <input id="search-input" class="form-control mr-sm-2" type="search" placeholder="Search by food or restaurants...." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>  
        </div>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
          </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Starters</a>
            <a class="dropdown-item" href="#">Veg</a>
            <a class="dropdown-item" href="#">Non-Veg</a>
            <a class="dropdown-item" href="#">Italian</a>
            <a class="dropdown-item" href="#">Pizza and Burgers</a>            
            <a class="dropdown-item" href="#">South-Indian</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Our Specials</a>
          </div>
          <div class="header_menu_signin" id="signin-box">
            <span class="header_menu_top_item" id="signin">Sign-in</span>
            <span class="header_menu_bottom_item" id="register">Register</span>
        </div>
        <div class="header-after-sign-in" id="user-home">
            <span class="header_menu_top_item" id="user-name">Hello User</span>
            <span class="header_menu_bottom_item" id="cart">Cart</span>
        </div>
            
    </nav>
    <nav clas="header_bottom"></nav>
</div>
<div class="log-in"> 
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button id="signin-btn" type="submit">SignIn</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  
</div>
