<div class="container-fluid">
  <div class="row">
      <!-- sidebar -->
      <div class="col-md-3 col-lg-2 px-0 position-fixed h-100 bg-white shadow-sm sidebar" id="sidebar">     
        <div class="list-group rounded-0">
          <!-- gif -->      
         
       
          <a href="#" class="list-group-item list-group-item-action active border-0 d-flex align-items-center">
            <span ><i class="bi bi-emoji-smile-fill"></i></span>
            <span class="ml-2">All Food Items</span>            
          </a>         
  
          <button class="list-group-item list-group-item-action border-0 d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#sale-collapse">
            <div>
              <span ><i class="bi bi-plus-square"></i></span>
              <span class="ml-2">Add New Food Item</span>
            </div>            
          </button>       
          <button class="list-group-item list-group-item-action border-0 d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#purchase-collapse">
            <div>
              <span class="bi bi-cart-plus"></span>
              <span class="ml-2">Orders</span>
            </div>
          </button>          
        </div>
      </div>
      <!-- overlay to close sidebar on small screens -->
      <div class="w-100 vh-100 position-fixed overlay d-none" id="sidebar-overlay"></div>
      <!-- note: in the layout margin auto is the key as sidebar is fixed -->
      <div class="col-md-9 col-lg-10 ml-md-auto px-0">
        <!-- top nav -->
        <nav class="w-100 d-flex px-4 py-2 mb-4 shadow-sm">
          <!-- close sidebar -->
          <button class="btn py-0 d-lg-none" id="open-sidebar">
            <span class="bi bi-list text-primary h3"></span>
          </button>        
        </nav>
        <!-- main content -->
        <main class="container-fluid">
          <section class="row">
            <div class="col-md-8 col-lg-8">
              <!-- card -->
             
            </div>
             
          </section>
       
        </main>
      </div>
    </div>
  </div>