#navbarSupportedContent{
    margin: 20px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: relative;
}
#carouselExampleControls{
    width: 70% !important;
    left:10%;
    height: 50%;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0%;
}
ul li a{
    height: 16rem;
    width:18rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
}
li a:hover{
    opacity: 0.9;
    cursor: pointer;
}
#imagebox{
    height: 200px;
}
.banner{
    background-image: url("\src\assets\images\finalwallpaper.jpg");
    height: 435px;
    width: 1280px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.content h4{
    color:white;
    padding-top: 30px;
    font-size: 30px;
    font-weight: bold;
    
}
.content{
    color:white;
    top: 20%;
    left: 40%;
    position: absolute;
}
.content a{
    text-decoration: none;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 20px;    
}
.content a:hover{
    background-color: blue;
    color:#fff;
}
.stepBox 
{
    background-color: #000;
    padding: 20px 20px;
    border-radius: 5px;
    text-align: center;
}
.stepBox h1 
{
    font-size: 50px;
    font-weight: bold;
    color:white;
}
.stepBox p 
{
    font-size: 20px;
    font-style: italic;
    color: #fff;
}
.highlight
{
    color: var(--primary-color);
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
