<div id="footer"class="container-fluid footer mt-5">
    <div class="row">
        <!-- name  -->
        <div id="footer-content" class="col-lg-6 mt-3 mb-3">
            <h1>Foodiezza</h1>
        </div>
        
        <!-- <div class="col-lg-2 mt-3 mb-3" id="social-footer">           
          <a href="facebook.com"> <img src="/assets/images/facebook.webp " alt="twitter" height="48" width="55"> </a> 
        </div>
        <div class="col-lg-2 mt-3 mb-3" id="social-footer">
        <img src="/assets/images/twitter.png " alt="twitter" height="48" width="55">   
        </div>
        <div class="col-lg-2 mt-3 mb-3" id="social-footer">
            <img src="/assets/images/instagram.webp" alt="twitter" height="48" width="55">   
        </div> -->

    <div id="AboutUs">        
        <ul id="AboutUs-list">
            <li><a routerLink="about">About Us</a></li>
            <li><a routerLink="contact">Contact Us</a></li>
            <li><a  href="#">Privacy Policy</a></li>
            <li><a  href="#">Terms and conditions</a></li>
        </ul>
    </div>     
  </div>
</div>