<div class="container mt-4 mb-4">
  <h1 class="text-center">Explore The  <span class="highlight">Taste</span></h1>
  <div class="row">    
    <div class="col-lg-3 mt-3" *ngFor="let dt of specialsResult | filter:searchKey:'category'">
      <div class="ourspecialsBox">
        <img class="specialsCard" src="{{dt.imageUrl}}"/>
        <h6>{{dt.foodName}}</h6>
        <p>{{dt.price|currency:"INR":"symbol" }}</p>
        <button class="btn btn-primary" (click)=addtocart(dt)>Add to Bag</button>  
      </div>
    </div>
  </div>
</div>

