<!--code for login div-->
<p>login wroks</p>
<div class="log-in"> 
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button id="signin-btn" type="submit">SignIn</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
</label>
</div>
<!--code for signup div-->
<div class="Register-user"> 
    <label>Sign Up</label>
    <label for="fname"><b>Name</b></label>
    <input type="text" placeholder="Enter Name" name="fname" required>
  
    <label for="uname"><b>Mail</b></label>
  
    <input type="text" placeholder="Enter Mail" name="mail" required>
    <label for="psw"><b>Password</b></label>
  
    <input type="password" placeholder="Enter Password" name="psw" required>
    <button id="signin-btn" type="submit">SignUp</button>
    <label>
    <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
</div>
  