<div id="checkout">
    <div id="login" >
      <div class="login-box">
        <h2>Enter Details</h2>
        <form>
          <div class="user-box">
            <input type="text" name="" required="" >
            <label>Enter Address</label>         
          </div>
          <label class="payment" style="color:white; margin-right: 8px;">Payment Mode </label>
            <select name="paymeny" id="pay">
           <option value=" ">Choose Payment Mode</option>
           <option value="DebitCard">Debit Card</option>
            <option value="UPI">UPI</option>
            <option value="cod">Cash On Delivery</option>
         </select>          
          <a href=" #">                       
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </a>
          
    
                  