<div id="checkout">
  <div id="checkoutInternal" >   
<div class="row">
     <main class="col-md-8">  
        <article class="card mb-4">
         <div class="card-body">
           <h4 class="card-title mb-4">Review Bag</h4>
             <div class="row">  
                <table class="table table-responsive">
                    <th>Sr.No</th>
                    <th>Product name</th>
                    <th>Price</th>  
                    <th>Quantity</th>
                    <th>Total</th>  
                <tbody *ngFor="let fd of foodList ; let i=index">
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{fd.foodName}}</td>
                        <td>{{fd.price}}</td>    
                        <td>{{fd.foodQuantity}}</td>                    
                        <td>{{fd.foodQuantity*fd.price}}</td>
                      </tr>                     
                </tbody>  
            </table>           
                    
                    
             </div> <!-- row.// -->
           </div> <!-- card-body.// -->
        </article> <!-- card.// -->          
        <article class="card mb-4">
                <div class="card-body">
                <h4 class="card-title mb-4">Delivery Address Details</h4>
                     <form action="">          
                        <div class="row">             
                            <div class="form-group col-sm-6">                        
                                <input type="text" placeholder="Your Full name" class="form-control">
                            </div><br/> 
                            <div class="form-group col-sm-6">                        
                                <input type="text" placeholder="Enter Address" class="form-control">
                            </div><br/>   
                        <div class="form-group col-sm-6">                        
                            <input type="text" placeholder="City" class="form-control">
                        </div> 
                        <div class="form-group col-sm-6">            
                            <select name="" class="form-control" >
                                <option value="" selected>State</option>
                                <option value=""> </option>                                
                                <option value=""> </option>
                                <option value=""> </option>  
                                <option value=""> </option>  
                                <option value=""> </option>  
                                <option value=""> </option>  
                                <option value=""> </option>  
                                <option value=""> </option>  
                                <option value=""> </option>  
                                <option value=""> </option>  
                                <option value=""> </option>  
                                <option value=""> </option>  
                                <option value=""> </option>  
                                <option value=""> </option>  
                                <option value=""> </option>  
                                <option value=""> </option>  
                                <option value=""> </option>  
                                <option value=""> </option>  
                                <option value=""> </option>  
                                <option value=""> </option>  
                                <option value=""> </option>  
                                <option value=""> </option>  
                                <option value=""> </option>  
                                <option value=""> </option>  
                                <option value=""> </option>  
                                
                            </select>           
                        </div>  
                        <div class="form-group col-sm-6">                        
                            <input type="text" placeholder="Zip Code" class="form-control">
                        </div>            
                        <div class="form-group col-sm-6">     
                            <input type="text"  class="form-control" placeholder="Enter Mobile number">
                        </div>
                        <div class="form-group col-sm-6">            
                            <input type="email" placeholder="example@gmail.com" class="form-control">
                        </div>
                        <label for="notes" class="notes">Any Special Instructions: </label>
                        <textarea name="notes" id="notes" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                    </div> <!-- row.// -->	
                </form>
                </div> <!-- card-body.// -->
                </article> <!-- card.// -->               
                
                    </main> <!-- col.// -->
                    <aside class="col-md-4">
                        <div class="card shadow">
                        <div class="card-body">
                            <h4 class="mb-3">Overview</h4> 
                            <dl class="dlist-align">
                              <dt class="text-muted">payment </dt>
                              <dd>Cash</dd>
                            </dl>
                            <hr>
                            <dl class="dlist-align">
                              <dt>Total:</dt>
                              <dd class="h5">{{ grandTotal |currency:'INR'}}</dd>
                            </dl>
                            <hr>
                            <input type="checkbox" />
                            <p class="small mb-3 text-muted">By clicking you are agree with terms of condition </p>
                            <button (click)="paynow()">Buy Now</button>       
                            
                        </div> <!-- card-body.// -->
                        </div> <!-- card.// -->
                    </aside> <!-- col.// -->
                </div> <!-- row.// -->               
    </div>
</div>
                
